<div class="bg-white h-[100vh] w-full">
    <div class=" flex justify-center items-center h-[20vh] md:h-[8%] w-full">
       <div class="w-[100%] bg-[#F3F4F5] md:bg-white md:w-[95%] h-full flex flex-col md:flex-row items-center justify-center ">
           <div class="w-[95%] py-3 md:py-0  md:w-[50%] ">
            <h5 class="font-bold ">Users</h5>
           </div>
           <div class="w-[100%] md:w-[50%] h-full py-4 md:py-0 flex bg-white md:bg-white  items-center md:justify-end">
            <div class="md:flex md:flex-row flex flex-col items-end justify-center w-[30%] mt-2 md:mt-0 h-full md:items-center md:justify-end order-2 md:order-1  ">
                <!-- desktop -->
                <button class=" hidden md:block cursor-pointer ">
                    <a [routerLink]="getRouterLink(activeIndex)">
                        <i class="fa-solid fa-circle-plus text-[25px] hover:text-[#1FBFFD]"></i>
                      </a>
                </button>
                <!-- mobile -->
                <span class="mx-2  block md:hidden cursor-pointer ">
                    <a [routerLink]="getRouterLink(activeIndex)">
                        <i class="fa-solid fa-circle-plus text-[25px] hover:text-[#1FBFFD]"></i>
                      </a>
                </span>
                <div class="text-md md:text-md lg:text-lg mx-1 md:mx-0 cursor-pointer">
                   <span *ngIf="activeIndex === 0 " class="flex" >

                        <button class=" hidden md:block cursor-pointer " (click)="export(0)">
                            <img src="./export.svg" class="rounded-full cursor-pointer  w-[25px] md:mx-0 "  />  
                        </button>
                
                        <span class="mx-2  block md:hidden cursor-pointer " (click)="export(0)">
                            <img src="./export.svg" class="rounded-full cursor-pointer  w-[25px] md:mx-0 "  /> 
                        </span> 
                 
                   </span> 

                   <span *ngIf="activeIndex === 1">
                        <button class=" hidden md:block cursor-pointer " (click)="export(1)">
                            <img src="./export.svg" class="rounded-full cursor-pointer  w-[25px] md:mx-0 "  />  
                        </button>
                
                        <span class="mx-2  block md:hidden cursor-pointer " (click)="export(1)">
                            <img src="./export.svg" class="rounded-full cursor-pointer  w-[25px] md:mx-0 "  /> 
                        </span> 
                   </span> 

                   <span *ngIf="activeIndex === 2">
                    <button class=" hidden md:block cursor-pointer " (click)="export(2)">
                        <img src="./export.svg" class="rounded-full cursor-pointer  w-[25px] md:mx-0 "  />  
                    </button>
            
                    <span class="mx-2  block md:hidden cursor-pointer " (click)="export(2)">
                        <img src="./export.svg" class="rounded-full cursor-pointer  w-[25px] md:mx-0 "  /> 
                    </span> 
                   </span> 

                   <span *ngIf="activeIndex === 3">
                         <button class=" hidden md:block cursor-pointer " (click)="export(3)">
                            <img src="./export.svg" class="rounded-full cursor-pointer  w-[25px] md:mx-0 "  />  
                        </button>
                
                        <span class="mx-2  block md:hidden cursor-pointer " (click)="export(3)">
                            <img src="./export.svg" class="rounded-full cursor-pointer  w-[25px] md:mx-0 "  /> 
                        </span> 
                   </span> 
                </div>
            </div>
            <!-- mobile -->
            <div *ngIf="activeIndex === 0" class="search flex items-center md:hidden mx-3 w-[60%] ">
                <div class="flex items-center border border-gray-300 rounded-lg">
                    <input type="text" class="search bg-[#FAFAF9] px-5 py-2 rounded-lg focus:outline-none w-full" placeholder="Search" 
                    [(ngModel)]="searchText"
                    (input)="applySearch(0)"
                    >
                    <i class="fa fa-search text-[#737373] absolute ml-4 mt-1"></i> 
                </div>
            </div>
            <div *ngIf="activeIndex === 1" class="search flex items-center md:hidden mx-3 w-[60%] ">
                <div class="flex items-center border border-gray-300 rounded-lg">
                    <input type="text" class="search bg-[#FAFAF9] px-5 py-2 rounded-lg focus:outline-none w-full" placeholder="Search" 
                    [(ngModel)]="searchText"
                    (input)="applySearch(1)"
                    >
                    <i class="fa fa-search text-[#737373] absolute ml-4 mt-1"></i> 
                </div>
            </div>
            <div *ngIf="activeIndex === 2" class="search flex items-center md:hidden mx-3 w-[60%] ">
                <div class="flex items-center border border-gray-300 rounded-lg">
                    <input type="text" class="search bg-[#FAFAF9] px-5 py-2 rounded-lg focus:outline-none w-full" placeholder="Search" 
                    [(ngModel)]="searchText"
                    (input)="applySearch(2)"
                    >
                    <i class="fa fa-search text-[#737373] absolute ml-4 mt-1"></i> 
                </div>
            </div>
            <div *ngIf="activeIndex === 3" class="search flex items-center md:hidden mx-3 w-[60%] ">
                <div class="flex items-center border border-gray-300 rounded-lg">
                    <input type="text" class="search bg-[#FAFAF9] px-5 py-2 rounded-lg focus:outline-none w-full" placeholder="Search" 
                    [(ngModel)]="searchText"
                    (input)="applySearch(3)"
                    >
                    <i class="fa fa-search text-[#737373] absolute ml-4 mt-1"></i> 
                </div>
            </div>
            <!-- desktop -->
            <div *ngIf="activeIndex === 0" class=" flex items-center hidden md:block mx-3 order-2  ">
                <div class="flex items-center border border-gray-300 rounded-lg">
                    <input type="text" class="search bg-[#FAFAF9] px-5 py-2 rounded-lg focus:outline-none w-full" placeholder="Search" 
                    [(ngModel)]="searchText"
                    (input)="applySearch(0)"
                    >
                    <i class="fa fa-search text-[#737373] absolute ml-4 mt-1"></i> 
                </div>
            </div>
            <div *ngIf="activeIndex === 1" class=" flex items-center hidden md:block mx-3 order-2  ">
                <div class="flex items-center border border-gray-300 rounded-lg">
                    <input type="text" class="search bg-[#FAFAF9] px-5 py-2 rounded-lg focus:outline-none w-full" placeholder="Search" 
                    [(ngModel)]="searchText"
                    (input)="applySearch(1)"
                    >
                    <i class="fa fa-search text-[#737373] absolute ml-4 mt-1"></i> 
                </div>
            </div>
            <div *ngIf="activeIndex === 2" class=" flex items-center hidden md:block mx-3 order-2  ">
                <div class="flex items-center border border-gray-300 rounded-lg">
                    <input type="text" class="search bg-[#FAFAF9] px-5 py-2 rounded-lg focus:outline-none w-full" placeholder="Search" 
                    [(ngModel)]="searchText"
                    (input)="applySearch(2)"
                    >
                    <i class="fa fa-search text-[#737373] absolute ml-4 mt-1"></i> 
                </div>
            </div>
            <div *ngIf="activeIndex === 3" class=" flex items-center hidden md:block mx-3 order-2  ">
                <div class="flex items-center border border-gray-300 rounded-lg">
                    <input type="text" class="search bg-[#FAFAF9] px-5 py-2 rounded-lg focus:outline-none w-full" placeholder="Search" 
                    [(ngModel)]="searchText"
                    (input)="applySearch(3)"
                    >
                    <i class="fa fa-search text-[#737373] absolute ml-4 mt-1"></i> 
                </div>
            </div>
           </div>
       </div>
    </div>
    <div class=" h-[80vh] md:h-[90%] flex justify-center items-center">
         <div class="card h-[100%] w-[95%] ">
            <!-- selector -->
            <div class="h-[6%] w-full">
                <button class="h-full w-[8%] mx-2" *ngFor="let user of users; let i = index" (click)="setActive(i)" [ngClass]="{'selector': i === activeIndex}">
                    <div class="h-[92%] flex items-center justify-center">
                        <span class="capitalize">{{ user.name }}</span>
                    </div>
                    <div class="selector h-[6%] bg-brand900 rounded-xl" *ngIf="i === activeIndex"></div>
                </button>
            </div>
            <!-- pages -->
            <div class="h-[90%]">
                <app-admin-view [searchText]="searchText" *ngIf="activeIndex === 0"></app-admin-view>
               <app-drivers *ngIf="activeIndex === 1"></app-drivers>
                 <app-riders *ngIf="activeIndex === 2"></app-riders>
                <!-- <app-partners *ngIf="activeIndex === 3"></app-partners> -->
            </div>
         </div>
    </div>
</div>
