<div class="flex justify-center items-center h-screen">
    <div class="container w-full h-[90%]">
    <div class="header  pb-2 md-2" >
      <div class="container-fluid">
        <div class="header-body" *ngIf="maplist">
          <!-- Card stats -->
          <div class="w-full h-[20vh]  flex justify-between items-center">
            <div class=" w-[30%] h-full bg-brand600 rounded-lg mx-2" >
               <div class="h-[50%] w-full flex justify-between p-4 text-white">
                <h5 class="  mb-0 text-white ">On Trip Drivers</h5> 
                <div class="rounded-full bg-brand200 w-8 h-8 flex justify-center items-center">
                    <i class="fa-solid fa-car text-white "></i>
                    </div>
               </div>
               <div class="h-[50%] w-full px-4 ">
                <span class="h2 font-weight-bold mb-0 text-white">{{maplist.on_trip_drivers}}</span>
               </div>
                
            </div>
            <div class=" w-[30%] h-full bg-brand600 rounded-lg mx-2" >
               <div class="h-[50%] w-full flex justify-between p-4 text-white">
                <h5 class=" t mb-0 text-white ">Online Drivers</h5> 
                <div class="rounded-full bg-green-600 w-8 h-8 flex justify-center items-center">
                    <i class="fa-solid fa-user text-white "></i>
                    </div>
               </div>
               <div class="h-[50%] w-full px-4 ">
                <span class="h2 font-weight-bold mb-0 text-white">{{maplist.online_drivers}}</span>
               </div>
                
            </div>
            <div class=" w-[30%] h-full bg-brand600 rounded-lg mx-2" >
               <div class="h-[50%] w-full flex justify-between p-4 text-white">
                <h5 class="  mb-0 text-white ">Offline Drivers</h5> 
                <div class="rounded-full bg-red-400 w-8 h-8 flex justify-center items-center">
                    <i class="fa-solid fa-user text-white "></i>
                    </div>
               </div>
               <div class="h-[50%] w-full px-4 ">
                <span class="h2 font-weight-bold mb-0 text-white">{{maplist.offline_drivers}}</span>
               </div>
                
            </div>
           
           
           </div>
        
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt-2" >
        <div class="row">
          <div class="col">
            <div class="card shadow border-3">
              <!-- <div id="map-canvas" class="map-canvas" data-lat="40.748817" data-lng="-73.985428" style="height: 600px;"></div> -->
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15902.195574075227!2d6.9746144999999995!3d4.847232549999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sng!4v1698649896811!5m2!1sen!2sng" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
    </div>
    </div>
</div>
