input {
    border-color: #D0D5DD;
}

.dropdown {
    width: 95%;
    height: 100%;
    // padding: 10px;
}

label {
    color: #344054;
}

/* Style the caret down icon */
.select-wrapper::after {
    content: '\25BC'; /* Unicode character for caret down */
    position: absolute;
    right: 50px; /* Adjust this value to change the margin right */
    top: 50%;
    transform: translateY(-50%);
    font-weight: 800; /* Font weight of the caret */
  }
  
select {
    width: 100%;
    padding: 11px;
    border-radius: 6px;
    border: 2px solid #D0D5DD;
    color: #797676;
}

select:hover {
    color: rgb(20, 20, 20);
}

select.selected {
    border: 1px solid #d6d6d6 !important;
}

.btn {
    border-radius: 30px;
    padding: 0;
}
