
td {
    padding: 0px 20px;
    font-size: 12px;
}

td i {
    color: #5E72E4;
    cursor: pointer;
}

th {
    padding: 0px 20px;
    background-color: #FAFAF9;
    color: #475467;
    font-size: 12px;
    font-weight: 500;
}

.btn {
    border-radius: 30px;
    padding: 0;
}
