
  <div class="w-full h-full">
    <app-modal [title]="''" [isVisible]="displayDialog" (closeModal)="hideModal()">
        <div class="w-[80vh] h-[60vh] flex items-start justify-center ">
            <div class="h-[95%] w-[95%]">
                <div class="h-[10%] flex items-center w-full"> 
                  <h3 class="h3 text-[#28094F]">Trip Details</h3>
                </div>
                <div class="h-[80%] w-full flex  items-start">
                   <div class="h-[80%] pt-4 w-full flex flex-wrap">
                       <div class="w-[50%]">
                           <h5>Trips Number</h5>
                           <p>VRM {{ editedUser?.uuid.slice(0,5) }} </p>
                       </div>
                      
                       <div class="w-[50%]">
                           <h5>Date</h5>
                           <p>{{ editedUser?.created_at  | date:'short':'UTC' }}</p>
                       </div>
                       <div class="w-[50%]">
                           <h5>Driver</h5>
                          <p>{{ editedUser?.driver_firstname }}</p> 
                          <div *ngIf="!editedUser?.driver_firstname">
                           Not detected
                          </div>            
                       </div>
                       <div class="w-[50%]">
                           <h5>Rider</h5>
                           <p> {{ editedUser?.user.user_profile.first_name }} {{ editedUser?.user.user_profile.last_name }}</p>
                       </div>
                       
                       <div class="w-[50%]">
                           <h5>Actual Amount</h5>
                           <p>  &#x20A6; {{editedUser?.trip_amount}}</p>     
                       </div>
                       <div class="w-[50%]">
                           <h5>Total Amount</h5>
                           <p>{{editedUser?.trip_fare_data.total}}</p>     
                       </div>

                       <div class="w-[50%]">
                           <h5>Payment Mode</h5>
                           <p>{{editedUser?.payment_type}}</p>     
                       </div>
                       <div class="w-[50%]">
                           <h5>Trip Status</h5>
                           <div *ngIf="editedUser?.trip_status == 4">
                               <span>Completed</span>
                           </div>
                           <div *ngIf="editedUser?.trip_status == 6">
                               <span>In Progress</span>
                           </div>
                           <div *ngIf="editedUser?.trip_status == 7">
                               <span>Cancelled</span>
                           </div>
                           <div *ngIf="editedUser?.trip_status == '' || null || undefined   ">
                               <span>Not detected</span>
                           </div> 
                       </div>
                       <div class="w-[50%]">
                           <h5>Trip Type</h5>
                           <div *ngIf="editedUser?.trip_type ==  '1' ">
                               <span>Individual</span>
                           </div>
                           <div *ngIf="editedUser?.trip_type == '2'  ">
                               <span>Shared trip</span>
                           </div>
                           <!-- <div *ngIf="editedUser?.trip_status == 3">
                               <span></span>
                           </div> -->
                           <div *ngIf="editedUser?.trip_type  == '' || null || undefined   ">
                               <span>Not detected</span>
                           </div> 
                       </div>
                       <div class="w-[50%]">
                           <h5>Distance Traveled</h5>
                           <p>{{editedUser?.distance}}</p> <span>KM</span>
                     
                       </div>
                   </div>
               </div>
               
                <div class="h-[10%] w-full flex justify-between">
                   <div class="btn w-[48%]">
                       <app-button buttonText="Cancel" borderColor="#F1F2F4" bgColor="transparent" (click)="toggleDialog()"></app-button>
                   </div>
                   <div class="btn w-[48%]">
                    <a routerLink="/trips-settings" class="hover:text-brand900">
                      <app-button buttonText="Edit Trip Parameters" borderColor="#28094F" bgColor="#28094F" textColor="#FFFFFF"></app-button>
                    </a>   
                </div>
                </div>
           </div>   
        </div>                                 
   </app-modal>

 <div>
     <div >
         <div>
            <app-loader *ngIf="showLoader"></app-loader>
             
             <div *ngIf="showNoResults === true && !showLoader" class="w-full h-[80vh] flex items-center justify-center">
                 <h1 class="font-bold text-3xl text-gray-200">No Match Found</h1>
             </div>
            <p-table *ngIf="!showLoader && !showNoResults " 
                         [value]="trips"
                         [paginator]="true"
                         [rows]="10"
                         [showCurrentPageReport]="false"
                         [tableStyle]="{ 'min-width': '100%' }"
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                         [rowsPerPageOptions]="">
                         <ng-template pTemplate="header">
                             <tr style="height: 3rem; border-color: #FAFAF9; border-top-width: 0.2px; border-bottom-width:0.2px ;">

                                <th class="w-[10%]">Trip No</th>
                                <th class="w-[15%]">Driver</th>
                                <th class="w-[15%]">Rider</th>
                                <!-- <th class="w-[10%]">Trip type</th> -->
                                <th class="w-[10%]">Date and Time</th>
                                <th class="w-[10%]">Start Price </th>
                                <th class="w-[10%]">End Price </th>
                                <th class="w-[5%]">Status</th>
                                <!-- <th class="w-[5%]">Payment Mode</th> -->
                                <th class="w-[2%]">Action</th>
                             </tr>
                         </ng-template>
                         <ng-template pTemplate="body" let-trips>
                            <tr style="height: 3rem; border-color: #abb4ce80; border-top-width: 0.2px; border-bottom-width:0.2px "
                             *ngIf="trips.trip_status === '3' || searchText === '' || trips.driver_firstname.toLowerCase().includes(searchText) || trips.firstname.toLowerCase().includes(searchText) || trips.lastname.toLowerCase().includes(searchText)   ">
                        
                             <td class="" >VRM {{ trips.uuid.slice(0, 5) }}</td>
                                    <td>
                                        <span class="flex items-center"> 
                                            <img src="./user.png" class="w-8" alt="driver">
                                            <!-- <img src="{{users.profile_url}}" class="w-8" alt="sidebar"> -->      
                                            <div class="capitalize flex flex-wrap mx-1 text-[12px] ">
                                                {{ trips.user.user_profile.first_name }} {{ trips.user.user_profile.last_name }}
                                            </div> 
                                            <div class="capitalize flex flex-wrap mx-1 text-[12px] " *ngIf="trips.user.user_profile.first_name === null || '' && trips.user.user_profile.last_name === null || '' ">
                                               No Name 
                                        </div>
                                    </span>
                                    </td>
                                    <td>
                                        <span class="flex items-center"> 
                                            <img src="./user.png" class="w-8" alt="rider">
                                            <div class="capitalize flex flex-wrap mx-2 text-[12px] ">
                                                {{ trips.user.user_profile.first_name }} {{ trips.user.user_profile.last_name }}
                                               
                                            </div>
                                        </span>
                                    </td>
                                    <td> {{ trips.created_at | date:'short':'UTC' }}</td>
                                    <td> &#x20A6; {{ trips.trip_amount }}</td>
                                    <td> &#x20A6; {{ trips.trip_fare_data.discount }}</td>
                                    <td>
                                        
                                        <div *ngIf="trips.trip_status == '7' ">
                                            <div class="border-2 border-slate-100 rounded-lg flex items-cemter justify-center ">
                                                <span class="w-2 h-2 bg-green-500 my-2 mx-1 rounded-full"></span>
                                                <span class=" my-1 mr-1">Complete</span>
                                            </div>
                                        </div>
                                        <div *ngIf="trips.trip_status == '4'">
                                            <div class="border-2 border-slate-100 rounded-lg flex items-cemter justify-center ">
                                                <span class="w-2 h-2 bg-[#EAAA08] my-2 mx-1 rounded-full"></span>
                                                <span class=" my-1 mr-1">In Progress</span>
                                            </div>
                                        </div>

                                        <div *ngIf="trips.trip_status == '6' ">
                                            <div class="border-2 border-slate-100 rounded-lg flex items-cemter justify-center ">
                                                <span class="w-2 h-2 bg-red-500 my-2 mx-1 rounded-full"></span>
                                                <span class=" my-1 mr-1">Cancelled</span>
                                            </div>
                                        </div>
                                        <div *ngIf="trips.trip_status == '' || null || undefined ">
                                            <span>Not detected</span>
                                        </div>
                                        
                                    </td>
                                  
                                
                                <td class="action flex justify-between">
                                    <span class="edit">
                                        <div class="flex align-items-center justify-content-center gap-2">
                                            <span (click)="userAction(trips.uuid)">
                                                <button pButton pRipple type="button" icon="fa-solid fa-ellipsis-vertical"
                                                    class="p-button-rounded p-button-text"></button>
                                            </span>
                                        </div>
                                    </span>
                                </td>
                                <div class="z-[9999] card  w-36 h-24 bg-white drop-shadow-xl  mr-6 absolute" *ngIf="selectedUserId === trips.uuid">
                                    <div class="h-[45%] bg-[#FAFAF9] rounded-t-md flex items-center justify-center red-400">
                                        <p class="font-medium">More Actions</p>
                                    </div>
                                    <div class="h-[55%] flex items-center border-y-[0.5px] border-[#EEECF6] justify-center ">
                                        <span class="text-brand900 cursor-pointer hover:font-bold" (click)="editUser(trips)" >
                                            <span class="hover:font-medium">Trip Details</span> 
                                        </span>
                                    </div>
                                </div>
                            </tr> 
                        </ng-template>
                            <ng-template pTemplate="paginatorleft">
                                 
                             </ng-template>
                             <ng-template pTemplate="paginatorright">
                                
                             </ng-template>
                     </p-table>  
                 </div>
             </div>
         </div>    
</div>
