h1 {
    font-size: 22px;
}

.h1 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
    font-weight: 800;
}
select {
    width: 95%;
    height: 50px;
    padding: 8.5px;
    border-radius: 6px;
    border: 1px solid #28094F;
    color: #28094F;
    // font-size: 20px;
}

label {
    font-weight: 600;
    font-size: 16px;
}