

<!-- <app-vr-alert *ngIf="showAlert" [color]="alertColor">
    {{ alertMsg }}
</app-vr-alert> -->
<div>
 <app-modal [title]="''" [isVisible]="isModalVisible" (closeModal)="hideModal()">
    <div class="w-[80vh] h-[65vh] flex items-start justify-center ">
        <div class="h-[100%] w-[95%]">
            <div class="h-[10%] flex items-center justify-between w-full"> 
                <h3 class="h3 text-[#28094F]">Edit Rider</h3>
                <button (click)="close()">
                    <i class="fa fa-times text-[20px]" aria-hidden="true"></i>
                </button>
            </div>
            <div class="h-[80%] w-full flex  items-start"> 
                <div class="card-body">   
                    <app-loader *ngIf="!riders"></app-loader>
                    <div class="card-body"*ngIf="riders" >   
                    <form>
                        <div class="flex w-full justify-between h-[auto]">
                            <div class="w-[49%]">
                                <div class="form-group">
                                    <label>First Name:</label>
                                    <input type="text" [(ngModel)]="riders.firstname" name="firstname" 
                                class="form-control form-control-alternative" placeholder="First name" value="{{riders.firstname}}">
                                </div>
                            </div>
                            <div class="w-[49%]">
                                <div class="form-group">
                                    <label>Last Name:</label>
                                    <input type="text"  [(ngModel)]="riders.lastname" name="lastname" 
                                class="form-control form-control-alternative" placeholder="Last name" value="{{riders.lastname}}">
                                </div>
                            </div>
                        </div>
                    
                        <div class="flex w-full justify-between h-[auto]">
                            <div class="w-[49%]">
                                <div class="form-group">
                                    <label htmlFor="email">Email Address:</label>
                                    <input type="text"  name="email" 
                                class="form-control form-control-alternative" placeholder="Email" value="{{riders.email}}" readonly="true">
                                </div>
                            </div>
                            <div class="w-[49%]">
                                <div class="form-group">
                                    <label htmlFor="phone">Phone Number:</label>
                                    <input type="text" [(ngModel)]="riders.Phone_no" name="phone number" 
                                class="form-control form-control-alternative" placeholder="Phone Number" value="{{riders.Phone_no}}">
                                </div>
                            </div>
                        </div>
                    
                        <div class="flex w-full justify-between h-[auto]">
                            <div class="w-[49%]">
                                <div class="form-group">
                                        <label htmlFor="password">Password:</label>
                                        <input type="text" name="password" 
                                        class="form-control form-control-alternative" placeholder="Password" value="{{riders.password}}">
                                </div>
                            </div>
                            <div class="w-[49%]">
                                <div class="form-group">
                                        <label htmlFor="city">City:</label>
                                        <input type="text" [(ngModel)]="riders.city" name="city" 
                                        class="form-control form-control-alternative" placeholder="City" value="{{riders.city}}">   
                                </div>
                            </div>
                        </div>
                        <div class="flex w-full justify-between h-[auto]">
                            <div class="w-[49%]">
                                <div class="form-group">
                                        <label htmlFor="password">Wallet:</label>
                                        <input type="text" [(ngModel)]="riders.balance" name="balance" 
                                class="form-control form-control-alternative" placeholder="Wallet" value="{{riders.balance}}">
                                </div>
                            </div>
                           
                        </div>
                    
                       
                    </form>
                    </div>
            </div>            
            </div>
            <div class="h-[10%] w-full flex justify-between">
                <div class="btn w-[48%]">
                    <app-button buttonText="Delete" borderColor="#f01717" bgColor="#f01717" textColor="#FFFFFF" (click)="deleteRider()"

                    ></app-button>
                </div>
                <div class="btn w-[48%]">      
                    <app-button buttonText="Update Rider" borderColor="#28094F" bgColor="#28094F" textColor="#FFFFFF" (click)="update()"
                    
                    ></app-button>            
                </div>
            </div>
        </div>    
    </div>
 </app-modal>
</div>
