<!-- <app-vr-alert *ngIf="showAlert" [color]="alertColor">
    {{ alertMsg }}
</app-vr-alert> -->
<div>
    <app-modal [title]="''" [isVisible]="displayDialog" (closeModal)="hideModal()">
        <div class="w-[80vh] h-[60vh] flex items-start justify-center ">
            <div class="h-[100%] w-[95%]">
                <div class="h-[10%] flex items-center justify-between w-full"> 
                    <h3 class="h3 text-[#28094F]">Edit Drivers</h3>
                    <button (click)="closeEdit()">
                        <i class="fa fa-times text-[20px]" aria-hidden="true"></i>
                    </button>
                </div>
                <div class=" overflow-y-scroll  h-[80%] w-full flex  items-start"> 
                    <div class=" w-full">   
                        <app-loader *ngIf="!drivers"></app-loader>
                        <div class="card-body"*ngIf="drivers" >   
                            <form>
                                <div class="flex w-full justify-between h-[auto]">
                                    <div class="w-[48%]">
                                        <div class="form-group">
                                            <label>First Name:</label>
                                            <input type="text" [(ngModel)]="drivers.user_profile.first_name" name="firstname" 
                                            class="form-control form-control-alternative" placeholder="First name" value="{{drivers.user_profile.first_name}}">
                                        </div>
                                    </div>
                                    <div class="w-[48%]">
                                        <div class="form-group">
                                            <label>Last Name:</label>
                                            <input type="text"  [(ngModel)]="drivers.user_profile.first_name" name="lastname" 
                                            class="form-control form-control-alternative" placeholder="Last name" value="{{drivers.user_profile.first_name}}">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="flex w-full justify-between h-[auto]">
                                    <div class="w-[49%]">
                                        <div class="form-group">
                                            <label>City:</label> 
                                        
                                            <input type="text" [(ngModel)]="drivers.user_profile.city" name="city" 
                                            class="form-control form-control-alternative" placeholder="City" value="{{drivers.user_profile.city}}">   
                                        </div>
                                    </div> 
                                    <div class="w-[49%]">
                                        <div class="form-group">
                                            <label>Phone Number:</label>
                                            <input type="text" [(ngModel)]="drivers.user.phone_no" name="phone number" 
                                            class="form-control form-control-alternative" placeholder="Phone Number" value="{{drivers.user.phone_no}}">
                                        </div>
                                    </div>
                                </div> 
                                
                                <div class="flex w-full justify-between h-[auto]">
                                    <div class="w-[49%]">
                                        <div class="form-group">
                                            <label>Email:</label>
                                            <input type="text" [(ngModel)]="drivers.email" name="email" 
                                    class="form-control form-control-alternative" placeholder="Email" value="{{drivers.email}}" readonly="true">
                                        </div>
                                    </div>
                                    <div class="w-[49%]">
                                        <div class="form-group">
                                            <label>Password:</label>
                                            <input type="text" [(ngModel)]="drivers.password" name="password" 
                                            class="form-control form-control-alternative" placeholder="Password" value="{{drivers.password}}">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="flex w-full justify-between h-[auto]">
                                    <div class="w-[49%]">
                                        <div class="form-group">
                                            <label>Licence Number:</label>
                                            <input type="text" name="licence_no" 
                                            class="form-control form-control-alternative" placeholder="Licence" value="{{drivers.driver_details.licence_no}}">
                                        </div>
                                    </div>
                                    <div class="w-[49%]">
                                    
                                    </div>
                                </div>

                                <div>
                                    <h4 class="h4 text-[#28094F]">Bank Details</h4>
                                </div>
                                    <div class="flex w-full justify-between h-[auto]">
                                        <div class="w-[49%]">
                                            <label>Account Holder Name:</label>
                                            <input type="text"  name="holder name" 
                                    class="form-control form-control-alternative" placeholder="Holder Name" value="{{drivers.holder_name}}">
                                        </div>
                                        <div class="w-[49%]">
                                            <label>Account Number:</label>
                                            <input type="text" name="account_number"
                                                class="form-control form-control-alternative" placeholder="Account Number" value="{{drivers.account_number}}">
                                        </div>
                                    </div>
                                
                                    <div class="flex w-full justify-between h-[auto]">
                                        <div class="w-[49%]">
                                            <div class="form-group">
                                                <label>Name of Bank:</label>
                                                <input type="text" name="bank_name"
                                                    class="form-control form-control-alternative" placeholder="Bank Name" value="{{drivers.bank_name}}">
                                            </div>
                                            <div class="form-group">
                                                <label>Bank Location:</label>
                                                <input type="text"  name="location" 
                                                class="form-control form-control-alternative" placeholder="Bank Location" value="{{drivers.location}}">
                                            </div>
                                        </div>
                                
                                        <div class="w-[49%]">
                                            <div class="form-group">
                                                <label>Payment Email:</label>
                                                <input type="text"  name="payment_email"
                                    class="form-control form-control-alternative" placeholder="Payment Email" value="{{drivers.payment_email}}">
                                            </div>
                                            <div class="form-group">
                                                <label>Bank Sort Code:</label>
                                                <input type="text" name="sort_code" 
                                                    class="form-control form-control-alternative" placeholder="Bank Sort Code" value="{{drivers.IFSC_code}}"> 
                                            </div>
                                        </div>
                                    </div>
                                
                                <div>
                                    <h4 class="h4 text-[#28094F]">Documents</h4>
                                </div>
                                <div class="flex w-full justify-between h-[auto]">
                                    <div class="w-[49%]">
                                        <div class="form-group">
                                            <label htmlFor="licence_docu">Upload Licence:</label>
                                            <input type="file" (change)="onFileSelected($event)" accept="image/pdf*" id="licence_docu" name="licence_docu">
                                        </div>
                                    </div>
                                    <div class="w-[49%]">
                                        <div class="form-group">
                                            <label htmlFor="Insurance_docu">Upload Insurance:</label>
                                            <input type="file" (change)="onFileSelected1($event)" accept="image/pdf*" id="insurance_docu" name="insurance_docu">
                                        </div>
                                    </div>
                                </div>
                                <div class="flex w-full justify-between h-[auto]">
                                    <div class="w-[49%]">
                                        <div class="form-group">
                                            <label htmlFor="vehicle_docu">Licence documents:</label>
                                            <input type="file" (change)="onFileSelected2($event)" accept="image/pdf*" id="vehicle_docu" name="vehicle_docu">
                                        </div>
                                    </div>
                                    <div class="w-[49%]">
                                        <div class="form-group">
                                            <label htmlFor="multi-docu">Other Documents:</label>
                                            <input type="file" (change)="onFileSelected3($event)" accept="image/pdf*" id="multi_docu" name="multi_docu">
                                        </div>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        </div>            
                </div>
                <div class="h-[10%] w-full flex justify-between">
                    <div class="btn w-[48%]">
                        <app-button buttonText="Delete" borderColor="#f01717" bgColor="#f01717" textColor="#FFFFFF" (click)="deleteUser()"

                        ></app-button>
                    </div>
                    <div class="btn w-[48%]">      
                        <app-button buttonText="Save" borderColor="#28094F" bgColor="#28094F" textColor="#FFFFFF" (click)="updateUser()"
                        
                        ></app-button>            
                    </div>
                </div>
            </div>    
        </div>
    </app-modal>
</div>

