input {
    border-color: #D0D5DD;
}

.dropdown {
    width: 95%;
    height: 100%;
    // padding: 10px;
}

label {
    color: #344054;
}

select {
    width: 95%;
    padding: 8.5px;
    border-radius: 6px;
    border: 1px solid #d6d6d6;
    color: #797676;
}

select:hover {
    color: rgb(20, 20, 20);
}

select.selected {
    border: 1px solid #d6d6d6 !important;
}

.btn {
    border-radius: 30px;
    padding: 0;
}
