<!-- <app-vr-alert *ngIf="showAlert" [color]="alertColor">
    {{ alertMsg }}
</app-vr-alert> -->
<div class="main-container">
    <app-modal [title]="''" [isVisible]="displayDialog" (closeModal)="hideModal()">
        <div class="w-[80vh] h-[65vh] flex items-start justify-center ">
            <div class="h-[95%] w-[95%]">
                <div class="h-[10%] flex items-center justify-between w-full"> 
                    <div style="width: 50%;">
                        <h3 class="h3 text-[#28094F] ">Edit {{admins.user.user_type}}</h3>
                    </div>
                    <div class="" style="width: 50%; display: flex; justify-content: flex-end;">
                         <span *ngIf="admins.user.user_type == 'driver'">
                            <button class=" rounded-sm mx-2 p-2 bg-brand600 hover:bg-brand900 text-white hover:text-brand500" (click)="details()">
                               <span *ngIf="!driverDtls"> Driver details <i class="fa-solid fa-circle-info"></i></span>
                               <span *ngIf="driverDtls"> Edit Driver Bio <i class="fa-solid fa-user"></i></span>
                             </button>
                         </span>
                        <button (click)="closeEdit()">
                            <i class="fa fa-times text-[20px]" aria-hidden="true"></i>
                        </button>
                    </div>
                     
                </div>
                <div class="h-[80%] w-full flex flex-col  justify-start overflow-y-scroll  ">
                        <app-loader *ngIf="!admins"></app-loader>
                        <div class="card-body"*ngIf="admins && !driverDtls"  >       
                            <form>
                                <div class="flex w-full  justify-between h-[auto]">
                                    <div class="w-[48%]">
                                        <div class="form-group">
                                            <div class="form-group flex">
                                                <!-- <div class="border-3  w-8 h-8 border-[#28094F] rounded-full">
                                                   <span *ngIf="profile_url === null || '' "> 
                                                     <img src="./user.png"/>
                                                   </span>
                                                </div> -->
                                                 
                                                <!-- <label for="file-upload" class="relative bottom-0 right-0 mb-2 mr-2">
                                                     <div class="w-8 h-8 bg-brand600 text-white rounded-full flex items-center justify-center cursor-pointer">
                                                       <i class="fas fa-camera"></i>
                                                     </div>
                                                   </label>
                                                   <input
                                                     id="file-upload"
                                                     type="file"
                                                     class="hidden"
                                                     (change)="onFileSelected($event)"
                                                     accept="image/*"
                                                   /> -->
                                             </div>
                                        </div>
                                        <!-- <div class="flex  items-center space-y-4">
                                            <div class="relative">
                                              <img
                                                [src]="admins.user.user_profile.profile_url || 'https://via.placeholder.com/150'"
                                                alt="Profile"
                                                class="w-32 h-32 rounded-full object-cover"
                                              />
                                              <label for="file-upload" class="absolute bottom-0 right-0 mb-2 mr-2">
                                                <div class="w-8 h-8 bg-blue-500 text-white rounded-full flex items-center justify-center cursor-pointer">
                                                  <i class="fas fa-camera"></i>
                                                </div>
                                              </label>
                                              <input
                                                id="file-upload"
                                                type="file"
                                                class="hidden"
                                                (change)="onFileSelected($event)"
                                                accept="image/*"
                                              />
                                            </div>
                                            <button (click)="onRemoveImage()" class="text-sm text-red-500">Remove Image</button>
                                          </div>
                                    </div> -->
                                    </div>
                                    <div class="w-[48%]">
                                        <div class="form-group">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="flex w-full  justify-between h-[auto]">
                                    <div class="w-[48%]">
                                        <div class="form-group">
                                            <label>First Name:</label>
                                            <input type="text" id="input-first-name" [(ngModel)]="admins.user.user_profile.first_name" name="firstname"
                                                class="form-control form-control-alternative" placeholder="First name"
                                                value="{{admins.user.user_profile.first_name}}">
                                        </div>
                                    </div>
                                    <div class="w-[48%]">
                                        <div class="form-group">
                                            <label>Last Name:</label>
                                            <input type="text" id="input-last-name" [(ngModel)]="admins.user.user_profile.last_name" name="lastname"
                                                class="form-control form-control-alternative" placeholder="Last Name"
                                                value="{{admins.user.user_profile.last_name}}">
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="flex w-full justify-between h-[auto]">
                                    <div class="w-[48%]">
                                        <div class="form-group">
                                            <label>Email Address:</label>
                                            <input type="text" id="input-email" name="email" class="form-control form-control-alternative"
                                                placeholder="Email" value="{{admins.user.email}}" readonly >
                                        </div>
                                    </div>
                                    <div class="w-[48%]">
                                        <div class="form-group">
                                            <label>Phone Number:</label>
                                            <input type="text" id="input-phone_no" [(ngModel)]="admins.user.phone_no" name="phone_no"
                                                class="form-control form-control-alternative" placeholder="Phone Number"
                                                value="{{admins.user.phone_no}}">
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="flex w-full justify-between h-[auto]">
                                    <div class="w-[48%]">
                                        <div class="form-group">
                                            <label>Password:</label>
                                            <input type="password" id="input-password" name="password" class="form-control form-control-alternative"
                                                placeholder="****************" readonly="true">
                                        </div>
                                    </div>
                                    <div class="w-[48%]">
                                        <div class="form-group">
                                            <label>City:</label>
                                            <input type="text" id="input-city" [(ngModel)]="admins.user.user_profile.city" name="city"
                                                class="form-control form-control-alternative" placeholder="City"
                                                value="{{admins.user.user_profile.city}}">
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="flex w-full  justify-between h-[auto]">
                                    <div class="w-[48%]">
                                        <div class="form-group">
                                            <label>User Type:</label>
                                            <input type="text" id="input-admin-type" name="admin_type"
                                                class="form-control form-control-alternative"
                                                [(ngModel)]="admins.user.user_type"
                                                readonly="true"
                                                >
                                        </div>
                                    </div>
                                    
                                </div>
                            </form>   
                        </div>
                        <app-loader *ngIf="inSubmission"></app-loader>
                        <span *ngIf="driverDtls && !inSubmission">

                        
                        <div class="mt-4">
                            <h4 class="h4 text-[#28094F]">Update Bank Details</h4>
                        </div>
                        <div class="flex w-full justify-between h-[auto]">
                            <div class="w-[49%]">
                                <label>Account Name:</label>
                                <input type="text"  name="holder name"  [(ngModel)]="accountInfo.account_name"
                                class="form-control form-control-alternative" placeholder="Holder Name" value="{{accountInfo.account_name}}">
                            </div>
                            <div class="w-[49%]">
                                <label>Account Number:</label> 
                                <input type="text" name="account_number"   [(ngModel)]="accountInfo.account_number"
                                    class="form-control form-control-alternative" placeholder="Account Number" value="{{accountInfo.account_number}}">
                            </div>
                        </div>
                    
                        
                        <div class="flex w-full justify-between h-[auto]">
                            <div class="w-[49%]">
                                <div class="form-group">
                                    <label>Bank:</label>
                                    <label for="banks">Select a bank:</label>
                                    <select id="banks" (change)="onBankSelect($event)">
                                      <option value="" disabled selected>--Select a bank--</option>
                                      <option *ngFor="let bank of banks" [value]="bank.id">
                                        {{ bank.name }}
                                      </option>
                                    </select>
                                </div>
                                
                            </div>
                
                        </div>
                        
               
                            <div class="mt-4" >
                                <h4 class="h4 text-[#28094F]">Update Driver Documents</h4>
                            </div>
    
                            <div class="flex w-full justify-between h-[auto]">
                                <div class="w-[49%]">
                                    <div class="form-group">
                                        <label for="licence_docu">Driver Licence Front:</label>
                                        <input type="file" (change)="onFileSelected($event)" accept="image/jpeg,image/png,application/pdf" id="licence_docu" name="licence_docu">
                                    </div>
                                </div>
                                <div class="w-[49%]">
                                    <div class="form-group">
                                        <label htmlFor="licence_docu"> Driver Licence back :</label>
                                        <input type="file" (change)="onFileSelected0($event)" accept="image/pdf*" id="licence_docu" name="licence_docu">
                                    </div>
                                </div>
                            </div>
                            <div class="flex w-full justify-between h-[auto]">
                                <div class="w-[49%]">
                                    <div class="form-group">
                                        <label htmlFor="Insurance_docu">Upload Insurance front:</label>
                                        <input type="file" (change)="onFileSelected1($event)" accept="image/pdf*" id="insurance_docu" name="insurance_docu">
                                    </div>
                                </div>
                                <div class="w-[49%]">
                                    <div class="form-group">
                                        <label htmlFor="Insurance_docu">Upload Insurance back:</label>
                                        <input type="file" (change)="onFileSelected2($event)" accept="image/pdf*" id="insurance_docu" name="insurance_docu">
                                    </div>
                                </div>
                            </div>
                            <div class="flex w-full justify-between h-[auto]">
                                <div class="w-[49%]">
                                    <div class="form-group">
                                        <label htmlFor="multi-docu">Vehicle inspection report:</label>
                                        <input type="file" (change)="onFileSelected3($event)" accept="image/pdf*" id="vehicle_docu" name="vehicle_docu">
                                    </div>
                                </div>
                                <div class="w-[49%]">
                                    <div class="form-group">
                                        <label htmlFor="multi-docu">Other Documents:</label>
                                        <input type="file" (change)="onFileSelected4($event)" accept="image/pdf*" id="multi_docu" name="multi_docu">
                                    </div>
                                </div>
                            </div>

                                <div class="mt-4"></div>
                         </span>
        
                        
                        
                </div> 
               
                <div class="h-[10%] w-full flex justify-between">

                        <div class="btn w-[48%]"  *ngIf="!driverDtls">
                            <app-button buttonText="Delete" borderColor="#f01717" bgColor="#f01717" textColor="#FFFFFF" (click)="deleteUser()" ></app-button>
                        </div>
                        <div class="btn w-[48%]" *ngIf="!driverDtls">      
                            <app-button  buttonText="Update user" borderColor="#28094F" bgColor="#28094F" textColor="#FFFFFF" (click)="updateUser()"></app-button>            
                        </div>
                    
                  
                        <div class="btn w-[48%]" *ngIf="driverDtls">
                            <app-button buttonText="Upload Bank Data"  borderColor="#28094F" bgColor="#FFFFFF" textColor="#28094F" (click)="AddBank()" ></app-button>
                        </div>
                        <div class="btn w-[48%]" *ngIf="driverDtls">      
                            <app-button buttonText="Update Documents" borderColor="#28094F" bgColor="#28094F" textColor="#FFFFFF" (click)="uploadDocuments()"></app-button>            
                        </div>
                 
                </div>
            </div>
        </div>
    </app-modal>

</div>